# Chapter 7 - Case Study \#3: Comparing Against Group Statistics

In [1]:
import pandas as pd

import seaborn as sns
import numpy as np

Please perform calculations on this dataframe about cars (`cars`) for the exercises in this chapter.

In [2]:
cars = sns.load_dataset('mpg')

np.random.seed(4)
cars['mpg'] = cars.mpg + np.random.rand(len(cars))/10  #Add random value to MPG column for sorting purposes

In [3]:
cars.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.096703,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu
1,15.054723,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320
2,18.097268,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite
3,16.071482,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst
4,17.069773,8,302.0,140.0,3449,10.5,70,usa,ford torino

## Exercise 1 - To Drop or Not to Drop?

One column of the `cars` dataframe contains missing values.  

Filter `cars` down to only rows that contain missing values and save this result as `cars_missing`. 

Should these rows be dropped?  Think of at least one situation when you WOULD choose to drop these rows and then think of at least one situation where you WOULD NOT choose to drop them. _(Do not actually change the `cars` dataframe!)_

In [ ]:
# YOUR CODE HERE
#raise NotImplementedError()

cars_missing.head()

In [ ]:
assert type(cars_missing) == pd.DataFrame, "Be sure cars_missing is a pandas dataframe."
assert cars_missing.shape[1] == cars.shape[1], "You should not remove any columns of data."
assert cars_missing.isna().sum().sum() == cars_missing.shape[0], "Each row of cars_missing should contain at least one missing value."

## Exercise 2 - Origin Median

Create a new column in `cars` that contains the median weight for each car based on the car's origin.  That is, cars from the USA should list the median weight for USA cars (3365 lbs), cars from Japan should list the median weight for Japanese cars, etc.  Call this column "origin_median_weight".

In [ ]:
# YOUR CODE HERE
raise NotImplementedError()

cars.sample(5, random_state=11)

In [ ]:
assert 'origin_median_weight' in cars.columns, "Add the origin_median_weight column directly to the cars dataframe."
assert cars.origin_median_weight.dtype == np.int64, "The origin_median_weight column should contain integer values."
assert cars.origin_median_weight.isna().sum() == 0, "You should not create any missing values in the origin_median_weight column."
assert cars.origin_median_weight.nunique() == 3, "Since there are only 3 origins in this dataset, you should only have 3 different values in the origin_median_weight column."

## Exercise 3 - Next Best MPG

These cars data are often used to understand what contributes to higher gas mileage, given in the "mpg" column.  Higher gas mileage values are better in that the same amount of gas provides the ability to travel more miles.

Create a new column in the `cars` dataframe called "next_best_mpg" to provide consumers with a car with a slightly better mpg but with the same cylinders.  This column should contain the name of the car with the next best mpg that has the same number of cylinders.  For example, the next best mpg for the first row would be the "plymouth satellite" because this car also has 8 cylinders, but the Plymouth Satellite has a slightly higher mpg value.

You will need to start from a dataframe that is sorted by "mpg", which we have done for you.  After you create your solution, we have sorted `cars` by index to show you the top rows, but you may want to inspect other views of the data. 

You will also be creating null values in the "next_best_mpg" column.  This is to be expected since some cars have the best MPG out of all of the cars in their cylinder group; no other car has a better MPG so a null value should show up.

*Hint*: One pandas method that was covered in the "Advanced Pandas: Other Helpful Methods" chapter is particularly helpful for answering this question!

In [ ]:
cars.sort_values('mpg', inplace=True)

# YOUR CODE HERE
raise NotImplementedError()

cars.sort_index(inplace=True)

cars.head()

In [ ]:
assert 'next_best_mpg' in cars.columns, "Please add a next_best_mpg column directly to cars."
assert cars.next_best_mpg.dtypes == 'O', "The next_best_mpg column should contain string values."
assert cars.next_best_mpg.isna().sum() == 5, "You will create 5 missing values in the next_best_mpg column."
assert cars.next_best_mpg.nunique() > 300, "There should be just over 300 unique car names in the next_best_mpg column."