# Chapter 4 - Cleaning String Data

In [1]:
import pandas as pd
pd.options.mode.chained_assignment = None

Please perform calculations on this dataframe about US states (`states`) for the exercises in this chapter.

In [2]:
### !!!! Currently using my Github to host these files -- please switch to Metis-owned S3 bucket !!!!

states = pd.read_csv('https://github.com/kimfetti/Projects/blob/master/Etc/scraped_wiki_states.csv?raw=True')

In [3]:
states.head()

,state,date_admitted,population,area_sq_mi,median_household_income
0,Alabama,"December 14, 1819","4,903,185","52,419","$48,123"
1,Alaska,"January 3, 1959","710,249","663,268","$73,181"
2,Arizona,"February 14, 1912","7,278,717","113,990","$56,581"
3,Arkansas,"June 15, 1836","3,017,804","53,179","$45,869"
4,California,"September 9, 1850","39,512,223","163,696","$71,228"

## Exercise 1

What is the average population of the US states including in this `states` dataframe? Save your answer as a variable called `avg_pop`.

You will first need to make the population column ready for analysis which may include handling missing values.  Do not modify the `states` dataframe directly.  We have created a copy called `states_copy` that you can adjust.

In [62]:
states_copy = states.copy()

# YOUR CODE HERE
#raise NotImplementedError()

states_copy.dropna(inplace=True)
states_copy['population'] = states_copy['population'].str.replace(',','')
states_copy.population = states_copy.population.astype(int)

states_copy.head()

states_copy.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 48 entries, 0 to 49
Data columns (total 5 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   state                    48 non-null     object
 1   date_admitted            48 non-null     object
 2   population               48 non-null     int64
 3   area_sq_mi               48 non-null     object
 4   median_household_income  48 non-null     object
dtypes: int64(1), object(4)
memory usage: 2.2+ KB

In [63]:
avg_pop = states_copy['population'].mean()

In [64]:
assert isinstance(avg_pop, float), "Your avg_pop variable should be a float."
assert states_copy.population.dtype in [int, float], "Be sure to convert the population column to numerical values."
assert avg_pop > 5000000, "The population for states in this dataset averages over 5 million people."

## Exercise 2 - "land" vs "ana"

Do more states contain the word "land" or the substring "ana"?  

Create two new dataframes to find out:
- `land`, a dataframe of only states that contain "land"
- `ana`, a dataframe of only states that contain "ana"

Both `land` and `ana` should have the same columns as `states` but should only include states whose names contain "land" or "ana", respectively.

We have gone ahead and droped rows with missing values from `states`.

In [66]:
states.dropna(inplace=True)

In [79]:
# YOUR CODE HERE
#raise NotImplementedError()

has_land = states.state.str.contains('land')

land = states[states.state.str.contains('land')]

In [80]:
ana = states[states.state.str.contains('ana')]

In [81]:
assert type(land) == pd.DataFrame, "Both land and ana should be pandas dataframes."
assert type(ana) == pd.DataFrame, "Both land and ana should be pandas dataframes."
assert land.shape[1] == states.shape[1], "Both land and ana should have the same number of columns as the states dataframe."
assert ana.shape[1] == states.shape[1], "Both land and ana should have the same number of columns as the states dataframe."
assert states.population.dtype == 'O', 'You should not have altered the population column of states during Exercise 1.'

## Exercise 3

Create a new pandas series called `upper_states` that contains the names of all states included in this `states` dataframe written in uppercase letters and in **reverse** alphabetical order.

In [95]:
# YOUR CODE HERE
#raise NotImplementedError()
upper_states = states.state.str.upper()
upper_states = upper_states.sort_values(ascending=False)

upper_states.head()

49          WYOMING
48        WISCONSIN
47    WEST VIRGINIA
46       WASHINGTON
45         VIRGINIA
Name: state, dtype: object

In [96]:
assert states.state.isna().sum() == 0, "The state column should no longer contain any missing values.  See Exercise 2."
assert type(upper_states) == pd.Series, "Make sure that upper_states is a pandas series."
assert len(upper_states) == len(states), "upper_states contain the names of all states in the states dataframe."
assert upper_states.iloc[0] > upper_states.iloc[-1], "Be sure to sort upper_states descending."